<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ResultSport.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DB1A64E2A7CEF6C008D0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB1A6642A7CEF6D008D0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB1A66E2A7CEF6D008D0ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
